<title>Venda</title>
<div class="main-content">
<div class="content-heading clearfix">
    <div class="heading-left">
        <h1 class="page-title">Home</h1>
        <p class="page-subtitle">Venda</p>
    </div>
    <ul class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a href="#">Venda</a>
        </li>
    </ul>
</div>

@section Styles{

    <link rel="stylesheet" href="~/Template/TemplateADMIN/Venda/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/TemplateADMIN/Venda/datatables.min.css"/>
    <link rel="stylesheet" href="~/Template/TemplateADMIN/Venda/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Template/TemplateADMIN/Venda/_all-skins.min.css">
    <link rel="stylesheet" href="~/Template/TemplateADMIN/Venda/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/Template/TemplateADMIN/Venda/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="~/Template/TemplateADMIN/Venda/select2.min.css">
    <link rel="stylesheet" href="~/Template/TemplateADMIN/Venda/select2-bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/Template/TemplateADMIN/Venda/style.css">
}

<!-- ALERT BOX -->
<div class="alert alert-warning alert-dismissible hide" id="alertMessage"></div>

<!-- SECTION VENDA -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Nova Venda</h3>
            <div class="box-tools">
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>

        <form  id="form_venda" action="/Venda/AdicionarNovo" method="post">
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="forma_pagamento">Forma de pagamento</label>
                        <select id="forma_pagamento" class="form-control select2 col-md-6">
                            <option value="1">Dinheiro</option>
                            <option value="2">Débito</option>
                            <option value="3">Crédito</option>
                            <option value="4">Troca por pontos</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="data_venda">Data da venda</label>
                        <input type="date" id="data_venda" class="form-control datepicker" readonly>
                    </div>
                    <div class="form-group">
                        <label for="qtd_itens_venda">Quantidade de itens</label>
                        <input type="text" id="qtd_itens_venda" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="select_clientes">Cliente</label>
                        <select id="select_clientes" class="form-control col-md-6">
                            <option value="1">Cliente 1</option>
                            <option value="2">Cliente 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pontos_cliente">Pontos do cliente</label>
                        <input type="text" id="pontos_cliente" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="preco_total">Preço total</label>
                        <input type="text" id="preco_total" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <input type="hidden" name="csrf_test_name" value="3a59fb028421bd64fb4ccf2aee90e89b">
        </form>
    </div>
</section>

<!-- SECTION ITENS DA VENDA -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Itens da Venda</h3>
            <div class="box-tools">
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="box-body" id="sales_details">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="select_produtos">Seleção de produto</label>
                    <select id="select_produtos" class="form-control change-price select2"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="unidades">Unidades</label>
                    <input type="number" id="unidades" class="form-control" placeholder="0">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="preco_unidade">Preço por unidade</label>
                    <input type="text" id="preco_unidade" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                <label for="venda_add_item">Adicionar produto</label>
                <button type="button" id="venda_add_item" class="btn btn-primary form-control">Adicionar</button>
            </div>
            
            </div>
            <table id="tabela_venda" class="table table-bordered table-striped text-center">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Preço da unidade</th>
                    <th>Preço Total</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">Preço total</td>
                    <td>
                        <input type="text" id="precoTotal" placeholder="00,00"
                               value="">
                    </td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="box-footer" align="center">
            <input type="button" id="emitir_venda" class="btn btn-success" value="Emitir Venda">
        </div>
    </div>
</section>
</div>

@section Scripts{
    <script src="~/Template/TemplateADMIN/assets/scripts/templateAdminScripts.js"></script>
    <script src="~/js/Form/vendaForm.js"></script>
}