<title>Cadastro de fornecedor</title>
<div class="main-content">
    <div class="content-heading clearfix">
        <div class="heading-left">
            <h1 class="page-title">Formulário</h1>
            <p class="page-subtitle">Cadastrar novo fornecedor</p>
        </div>
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">Formulário</a></li>
            <li><a href="#">Cadastrar novo fornecedor</a></li>
        </ul>
    </div>

    <form action="/Fornecedor/AdicionarNovo" id="FormAdd" method="post">
        <main class="form-horizontal">
            <div class="panel-body">
                <div class="form-group">

                    <div class="col-md-11 control-label">
                        <p class="help-block">
                            <h11>*</h11> Campo Obrigatório
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <h3>Dados do fornecedor:</h3>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="nome">Nome do vendedor <h11></h11></label>
                    <div class="col-md-3">
                        <input for="pessoa.Nome" id="nome" placeholder="Opcional" class="form-control input-md" type="text">
                    </div>
                </div>

                <!-- Pessoa Jurídica-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="nomeEmpresa">Empresa <h11>*</h11></label>
                    <div class="col-md-3">
                        <input for="pessoa.NomeFantasia" id="nomeEmpresa" placeholder="Nome da Empresa" class="form-control input-md" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="razaoSocial">Razão Social <h11>*</h11></label>
                    <div class="col-md-3">
                        <input for="pessoa.NomeRazaoSocial" id="razaoSocial" placeholder="Razão Social" class="form-control input-md" type="search">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="inscricaoEstadual">Inscrição Estadual <h11>*</h11></label>
                    <div class="col-md-3">
                        <input for="pessoa.InscricaoEstadual" id="inscricaoEstadual" placeholder="Inscrição Estadual" class="form-control input-md" type="search">
                    </div>
                </div>


                <!-- CPF/CNPJ-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="CpfeCnpj">CNPJ <h11>*</h11></label>
                    <div class="col-md-3">
                        <input for="pessoa.CPFCNPJ" id="CpfeCnpj" placeholder="Digite o CNPJ" onkeyup="confereCNPJ(this)" class="form-control input-md" type="text">
                        <span id="cnpjFrase"></span>
                    </div>

                </div>

                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="telefoneUm">Telefone 1 <h11>*</h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input for="pessoa.TelefoneUm" id="telefoneUm" class="form-control" placeholder="(XX)XXXXX-XXXX" type="text">
                        </div>
                    </div>
                    <label class="col-md-1 control-label" for="telefoneDois">Telefone 2 <h11></h11></label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                            <input for="pessoa.TelefoneDois" id="telefoneDois" class="form-control" placeholder="(XX)XXXXX-XXXX" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Email <h11>*</h11></label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input for="pessoa.Email" id="email" class="form-control" placeholder="email@email.com" type="email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="observacoes">Observações</label>
                    <div class="col-md-5">
                        <textarea for="pessoa.Observacoes" id="observacoes" placeholder="Opcional" class="form-control input-md" type="text"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <h3>Dados de endereço:</h3>
                    </div>
                </div>
                <!-- Prepended text -->
            <!-- Search input-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="Cep">CEP <h11>*</h11></label>
                <div class="col-md-2">
                    <input for="pessoa.Endereco.CEP" id="Cep" onfocusout="pesquisacep(Cep.value)" placeholder="Apenas números" class="form-control input-md" type="search" maxlength="8" pattern="[0-9]+$">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" onclick="pesquisacep(Cep.value)">Pesquisar</button>
                </div>
            </div>

            <!-- Endereço-->
            <div class="form-group">
                <label class="col-md-2 control-label" for="rua">Endereço</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Rua</span>
                        <input for="pessoa.Endereco.Rua" id="rua" class="form-control" placeholder="" type="text">
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">Nº <h11>*</h11></span>
                        <input for="pessoa.Endereco.Numero" id="numero" class="form-control" placeholder="" type="text">
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Bairro</span>
                        <input for="pessoa.Endereco.Bairro" id="bairro" class="form-control" placeholder="" type="text">
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="cidade"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Cidade</span>
                        <input for="pessoa.Endereco.Cidade" id="cidade" class="form-control" placeholder="" type="text">
                    </div>

                </div>

                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">Estado</span>
                        <input for="pessoa.Endereco.Estado" id="estado" class="form-control" placeholder="" type="text">
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Complemento</span>
                        <input for="pessoa.Endereco.Complemento" id="complemento" class="form-control" placeholder="" type="text">
                    </div>
                </div>
            </div>
                <hr>
                <!-- Dados para Login -->
                <!-- Botão Cadastrar e Cancelar -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button id="Cadastrar" autofocus name="Cadastrar" class="btn btn-success" type="submit">Cadastrar</button>
                        <button id="Cancelar" name="Cancelar" onclick="window.location.href = '/Fornecedor/Cadastrados'" class="btn btn-danger" type="reset">Cancelar</button>
                    </div>
                </div>
            </div>
        </main>
    </form>
</div>

@section Scripts {
    <script src="~/Template/TemplateADMIN/assets/scripts/templateAdminScripts.js"></script>
    <script src="~/js/Form/fornecedorForm.js"></script>
}
